<div class="container">

    <div class="container text-center" style="margin: 30px;">
        <h3>Adicionar Produto</h3>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="descricao" class="form-label">Descricao do Produto</label>
            <input type="text" class="form-control" 
                id="descricao" name="descricao"
                required="true" 
                [(ngModel)]="produto.descricao" />
        </div>
        <div class="mb-3">
            <label for="preco" class="form-label">Preço do Produto</label>
            <input type="number" step="any" class="form-control" 
                id="preco" name="preco"
                [(ngModel)]="produto.preco">
        </div>
        <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade do Produto</label>
            <input type="number" step="any" class="form-control" 
                id="quantidade" name="quantidade"
                [(ngModel)]="produto.quantidade">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-sm me-3">Adicionar</button>
            <a href="/" class="btn btn-danger btn-sm me-3">Voltar</a>

        </div>
      </form>
</div>